# Dart/Flutter
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/

# IDE-specific
.idea/
.vscode/
.metadata

# Output folders
android/.gradle/
android/app/build/
ios/Flutter/Flutter.framework
ios/Pods/
windows/build/
linux/build/
macos/Flutter/ephemeral/
web/.dart_tool/

# Sensitive files
.env

# Node.js (si usas algo relacionado con Node.js para web)
node_modules/

# Otros
*.log
.DS_Store
*.tmp
